footer
    //- <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    script(src="js/jquery.min.js")

    //- <!-- Custom navbar to modify the navbar background -->
    script(src="js/navbar.js")

    //- <!-- Custom js which implements the parallax feature -->
    script(src="js/parallax.js")

    link(rel="stylesheet", href="../css/main.css")

    script(src="js/bootstrap-js/bootstrap.min.js" type="text/javascript")

    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?sensor=false")

    script(src="js/map.js")

    script(src="js/scrollspy_custom.js")
