head
    title Derekegyházi halastó
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico")
