  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
             <div class="fill" style="background-image:url(img/1.jpg);"></div>
            <div class="carousel-caption">
                <h2>Horgászat</h2>
            </div>
        </div><!-- item1 -->
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url(img/2.jpg);"></div>
            <div class="carousel-caption">
                <h2>Szállás</h2>
            </div>
        </div><!-- item2 -->
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url(img/3.jpg);"></div>
            <div class="carousel-caption">
                <h2>Kirándulás</h2>
            </div>
        </div><!-- item3 -->
        <div class="item">
            <!-- Set the fourth background image using inline CSS below. -->
            <div class="fill" style="background-image:url(img/4.jpg);"></div>
            <div class="carousel-caption">
                <h2>Oszlopok</h2>
            </div>
        </div><!-- item4 -->
        <div class="item">
            <!-- Set the fifth background image using inline CSS below. -->
            <div class="fill" style="background-image:url(img/5.jpg);"></div>
            <div class="carousel-caption">
                <h2>Pihenés</h2>
            </div>
        </div><!-- item5 -->
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div> <!-- Carousel end -->