.contact-info
    color: grey
    background: rgba(54, 54, 54, 0.1)
    padding: 10px 10px 10px 10px
    border-radius: 10px
    font-size: 1.5em


    p 
        margin-top: 15px

    a 
        color: grey    

        &:hover 
            color: black 
            text-decoration: none
        
        &:hover .icon_facebook
            color: black 
            text-decoration: none
            fill: black

    [class="glyphicon"]
        margin-top: 2px


.contactus_row1
    margin-top: 50px
    margin-bottom: 50px
    clear: both


.letter_body
    margin-top: 4px


.letter_labels
    color: grey
    letter-spacing: 2px
    font-weight: bold


input, textarea
    border: 3px solid grey
    width: 100%

    &:focus
        outline: none
        border-color: #A9A9A9


input
    margin-top: 15px
    height: 30px


textarea
    height: 10em
    rows: 18


[type="submit"]
    font-size: 16px 
    color: white
    font-weight: bold
    letter-spacing: 4px
    margin-top: 30px
    border: none
    text-transform: uppercase

    &:hover
        background: grey

