@font-face
    font-family: 'Ubuntu Light'
    src: url('fonts/Ubuntu-L.ttf')

@import 'bootstrap'
@import 'custom_bootstrap_variables'
@import 'parallax'
@import 'navbar'
@import 'front'
@import 'line1'
@import 'welcome'
@import 'fishing'
@import 'hunting'
@import 'house'
@import 'places'
@import 'gallery'
@import 'map'
@import 'contactus'
@import 'foot'


body
    font-family: 'Ubuntu Light'
    color: grey !important
    position: relative
    width: 100%

.text-container
    text-align: justify
    font-size: 15px
